/*
 * Aidan Smith (2021)
 * Updates by: weasnerb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp ESC		&kp Q		&kp W		&kp E	&kp R	&kp T	&kp Y		&kp U		&kp I		&kp O	&kp P		&kp BSPC
				&kp TAB		&kp A		&kp S		&kp D	&kp F	&kp G	&kp H		&kp J		&kp K		&kp L	&kp SEMI	&kp SQT
				&kp LSHFT	&kp Z		&kp X		&kp C	&kp V	&kp B	&kp N		&kp M		&kp COMMA	&kp DOT	&kp FSLH	&kp RET
				&kp LCTL	&kp LGUI	&kp LALT	&mo 3	&mo 1	&none	&lt 2 SPACE	&kp LEFT	&kp DOWN	&kp UP	&kp RIGHT	&kp C_PP
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		// Layer 1
		// Long Tap of Right 2u Key (Space Bar)
		// @see https://zmk.dev/docs/behaviors/layers#layer-tap
		right {
			bindings = <
				&kp LS(GRAVE)	&kp LS(N1)	&kp LS(N2)	&kp LS(N3)	&kp LS(N4)	&kp LS(N5)	&kp LS(N6)	&kp LS(N7)	&kp LS(N8)	&kp LS(N9)	&kp LS(N0)	&kp DEL
				&trans			&trans 		&trans		&trans		&trans		&trans		&trans		&kp MINUS	&kp EQUAL	&kp LBKT	&kp RBKT	&kp BSLH
				&trans			&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
				&trans			&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans		&trans
			>;
		
			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		// Layer 2
		// Momentary Layer of Left 2u Key
		// @see https://zmk.dev/docs/behaviors/layers#momentary-layer
		left {
			bindings = <
				&kp GRAVE	&kp N1	&kp N2	&kp N3	&kp N4	&kp N5	&kp N6	&kp N7		&kp N8		&kp N9		&kp N0		&kp BSPC
				&trans		&trans	&trans	&trans	&trans	&trans	&trans	&kp UNDER	&kp PLUS	&kp LBRC	&kp RBRC	&kp PIPE
				&trans		&trans	&trans	&trans	&trans	&trans	&trans	&trans		&trans		&trans		&trans		&trans
				&trans		&trans	&trans	&trans	&trans	&trans	&trans	&kp HOME	&kp PG_DN	&kp PG_UP	&kp END		&trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		// Layer 3
		// Momentary Layer of Super Key (The Button to Left of the Left 2u Key)
		// @see https://zmk.dev/docs/behaviors/layers#layer-tap
		control {
			bindings = <
				&kp F1		&kp F2		&kp F3	&kp F4		&kp F5	&kp F6	&kp F7		&kp F8		&kp F9			&kp F10			&kp F11		&kp F12
				&none		&bt BT_PRV	&none	&bt BT_NXT	&none	&none 	&kp LEFT	&kp DOWN	&kp UP			&kp RIGHT		&none		&none
				&none		&none		&none	&none		&none	&none	&none		&none		&none			&none			&none		&none
				&sys_reset	&bootloader	&none	&trans		&none	&none	&none		&kp C_MUTE	&kp C_VOL_DN	&kp C_VOL_UP	&kp C_PP	&bt BT_CLR
			>;

			sensor-bindings = <&inc_dec_kp BT_PRV BT_NXT>;
		};
	};
};
